.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.gallery {
  position: static;
  top: 0;
  border: 1px solid #ccc;
  width: 100%;
  padding: 14px;
  background-color: lightgreen;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.footer{
  text-align: center;
  background-color: darkgrey;
  padding: 12px;
  bottom: 0;
}

/* div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
} */
.container{
  border:  2px solid green;
  overflow: auto;
  white-space: nowrap;
}
.container::-webkit-scrollbar{
  display: none;
}
.imagetittle1{
  background-color: lightcoral ;
  /* margin-top: 20px; */
  padding: 14px;
}